<!--xml-->
<launch>
  <!-- are we loading existing data from a bag file? -->
  <arg name="bag" default="false"/>

  <arg name="name" default="camera" />
  <arg name="hostname" default="169.254.22.102" />
  <arg name="password" default="docs" />
  <arg name="observatory_camera" default="false"/>
  <arg name="manipulator_camera" default="false"/>
  <arg name="viz" default="false"/>

  <group ns="$(arg name)">
    <node unless="$(arg bag)" pkg="axis_camera" type="axis.py" name="axis" output="screen">
      <param name="frame_id" value="$(arg name)" />
      <param name="hostname" value="$(arg hostname)" />
      <param name="password" value="$(arg password)" />
<!--
      <param name="width" value="1920" />
      <param name="height" value="1080" />
-->
      <param name="camera_info_url" value="file://$(find network_camera)/config/cal_$(arg password).yaml" />
    </node>

    <!-- decompress image -->
    <node pkg="image_transport" type="republish" name="republish" args="compressed in:=image_raw raw out:=image_raw" />

    <!-- image rectification -->
    <node pkg="image_proc" type="image_proc" name="image_proc"/>

    <include if="$(arg observatory_camera)" file="$(find rockie_core)/launch/observatory_camera.launch">
      <arg name="frame_id" value="$(arg name)"/>
      <arg name="viz" value="$(arg viz)"/>
    </include>

    <include if="$(arg manipulator_camera)" file="$(find rockie_core)/launch/manipulator_camera.launch">
      <arg name="frame_id" value="$(arg name)"/>
      <arg name="viz" value="$(arg viz)"/>
    </include>
  </group>
</launch>  
