<launch>
  <arg name="viz" default="false"/>

  <include file="$(find network_camera)/launch/axis.launch">
    <!-- update names after adding to robot -->
    <arg name="name" value="left_camera"/>
    <arg name="hostname" value="169.254.22.101"/>
    <arg name="password" value="sparks"/>
    <arg name="observatory_camera" value="true"/>
    <arg name="viz" value="$(arg viz)"/>
  </include>

  <include file="$(find network_camera)/launch/axis.launch">
    <!-- update names after adding to robot -->
    <arg name="name" value="right_camera"/>
    <arg name="hostname" value="169.254.22.100"/>
    <arg name="password" value="axle"/>
    <arg name="observatory_camera" value="true"/>
    <arg name="viz" value="$(arg viz)"/>
  </include>

  <include file="$(find network_camera)/launch/axis.launch">
    <!-- update names after adding to robot -->
    <arg name="name" value="gripper_camera"/>
    <arg name="hostname" value="169.254.22.102"/>
    <arg name="password" value="docs"/>
    <arg name="manipulator_camera" value="true"/>
    <arg name="viz" value="$(arg viz)"/>
  </include>
</launch>
