<launch>
  <include file="$(find ar_tags)/launch/track_calibration_tags.launch">
    <arg name="name" value="left_camera" />
  </include>

  <include file="$(find ar_tags)/launch/track_calibration_tags.launch">
    <arg name="name" value="right_camera" />
  </include>

  <include file="$(find ar_tags)/launch/track_calibration_tags.launch">
    <arg name="name" value="gripper_camera" />
  </include>

  <include file="$(find ar_tags)/launch/track_calibration_tags.launch">
    <arg name="name" value="stereo_camera/left" />
  </include>

  <include file="$(find ar_tags)/launch/track_calibration_tags.launch">
    <arg name="name" value="stereo_camera/right" />
  </include>
</launch>
