<launch>
  <!-- main args -->
  <arg name="frame_id" default="camera" />
  <arg name="marker_size" default="8.99" />

  <arg name="max_new_marker_error" default="0.16" />
  <arg name="max_track_error" default="0.4" />

  <arg name="cam_image_topic" default="image_raw" />
  <arg name="cam_info_topic" default="camera_info" />
  <arg name="output_frame" default="$(arg frame_id)" />

  <node name="ar_tag_tracking" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" >
    <remap from="ar_pose_marker" to="/ar_tag"/>
  </node>
</launch>
