<launch>
  <arg name="name" default="left_camera"/>
  <arg name="mounting_frame" default="base_link"/>

  <include file="$(find camera_pose_toolkits)/launch/urdf_updater.launch">
    <arg name="new_cam_ns" value="$(arg name)"/>
    <arg name="urdf_cam_ns" value="stereo_camera/left"/>
    <arg name="mounting_frame" value="$(arg mounting_frame)"/>
    <arg name="urdf_input_file" value="$(find rockie_core)/config/rockie.urdf"/>
    <arg name="urdf_output_file" value="$(find rockie_core)/config/rockie.urdf"/>
    <arg name="checker_rows" value="6"/>
    <arg name="checker_cols" value="7"/>
    <arg name="checker_size" value="0.02609"/>
    <arg name="headless" value="0"/>
  </include>
</launch>
