<launch>
  <rosparam file="$(find rockie_core)/config/rockie.yaml"/>

  <include file="$(find stereo_slam)/launch/stereo_slam.launch"/>
  <include file="$(find network_camera)/launch/network_cameras.launch"/>
  <include file="$(find rockie_core)/launch/rockie_transforms.launch"/>
  <include file="$(find rockie_navigation)/launch/navigation.launch"/>
  <include file="$(find serial_node)/launch/serial_node.launch"/>
  <include file="$(find object_tracker)/launch/object_tracker.launch"/>
  <include file="$(find rockie_manipulation)/launch/rockie_manipulation.launch"/>
  <include file="$(find rockie_drive)/launch/rockie_drive.launch"/>
  <include file="$(find xbee)/launch/xbee.launch"/>
</launch>
